/* General CSS */

html,
body {
    height: 100%;
}
body {
    font-family: "Roboto Condensed", sans-serif;
}

p {
    color: #64707b;
    font-size: 16px;
    font-weight: 300;
}

h3 {
    color: #41464b;
    text-transform: uppercase;
}

/*====================================================
                       NAVIGATION
======================================================*/

.navbar {
    padding: 20px 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.lososos-top-nav {
    background: rgba(0, 0, 0, 0.7);
    padding: 7px 0;
}

.lososos-nav-wrapper {
    padding: 0 85px;
}


.navbar-nav {
    float: right;
}


.navbar-nav>li>a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}


.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
    background: none;
    color: #34c6d3;
}


.navbar-toggle {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    border-radius: 0;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-collapse {
    max-height: none !important;
}

.lososos-top-nav ul.navbar-nav>li.active>a {
    color: #34c6d3;
}

/*====================================================
                        HOME
======================================================*/

#home {
    height: 100%;
}

#home-cover {
    height: 100%;
    background-image: url("../img/home/background.png");
}

#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    /* text-align: center; */
}

#home-heading h3 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0 20px 0;
}

/*====================================================
                        PARALLAX (Generic)
======================================================*/

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*====================================================
                        BUTTONS (Generic)
======================================================*/
.btn-general {
  border-color: #fff;
    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: #fff;
    color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    background-color: #fff;
    color: #41464b;
}

.btn-blue {
    border-color: #34c6d3;
    color: #34c6d3;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: #34c6d3;
    color: #fff;
}

.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    padding: 3px 15px;
    border-radius: 0;
    display: none;
}

/*====================================================
                       ANIMATE
======================================================*/

#home-cover,
#home-heading,
#home-btn {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

#home-cover {
    -webkit-animation-delay: .1s;
            animation-delay: .1s;
}

#home-heading {
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
}

#home-btn {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}


/*====================================================
                       CONTENT (Generic)
======================================================*/

.content-box {
    padding: 60px 0 60px 0;
}

.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
}

.content-title-white h3 {
    color: #fff;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #34c6d3;
    margin: 0 auto 30px auto;
}



/*====================================================
                       SERVICES
======================================================*/

.service-item {
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    cursor: pointer;
}

.service-item-icon i {
    color: #34c6d3;
    float: left;
    padding: 15px;
    margin-right: 25px;
    width: 75px;
    height: 75px;
    text-align: center;
}

.service-item:hover .service-item-icon i {
    color: #fff;
    background-color: #34c6d3;
}

.service-item-title h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.service-item-desc p {
    margin: 0;
    padding-left: 85px;
}




/*******MOUSEOVER/MOUSEOUT*****************
********CONTENT APPEARS/DISAPPEARS********/

/*The images gray out with css :hove below, but the 
text is transparent, and made visible with jquery*/

.row.no-gutters [class*=col-] {
    padding-left: 0;
    padding-right: 0;
}

.dish-col {
    position: relative;
}

#work .dish-col img {
   transition: all 1.5s ease;
}


.work-desc {
   position: absolute;
    bottom: 0%;
    left: 0%;
    height: 100%;
    padding: 40% 10% 0 10%;
    font-family: 'Allan', cursive;
}

.work-desc h2 {
    text-align: center;
}

.work-desc h2, .work-desc p {
    color: rgba(0,0,0,0);
    transition: all 2s ease;
    font-weight: 700;
}

#work .dish-col:hover img {
    -webkit-filter: opacity(.5);
  filter: opacity(.5);
}


#work img {
    width: 100%;
    height: 100%;
}





/*********TEMPLATE TIMELINE************
***************************************/
.timeline {
  list-style: none;
  padding: 0;
  position: relative; }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: 40px;
    margin-left: -1.5px; }
  .timeline > li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px; }
    .timeline > li:before, .timeline > li:after {
      content: " ";
      display: table; }
    .timeline > li:after {
      clear: both; }
    .timeline > li .timeline-panel {
      width: 100%;
      float: right;
      padding: 0 20px 0 100px;
      position: relative;
      text-align: left; }
      .timeline > li .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      .timeline > li .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; }
    .timeline > li .timeline-image {
      left: 0;
      margin-left: 0;
      width: 80px;
      height: 80px;
      position: absolute;
      z-index: 100;
      background-color: #fed136;
      color: white;
      border-radius: 100%;
      border: 7px solid #f1f1f1;
      text-align: center; }

      .timeline-image img {
        border-radius: 100%;
            width: 100%;
            height: inherit;
      }
      .timeline > li .timeline-image h4 {
        font-size: 10px;
        margin-top: 12px;
        line-height: 14px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      text-align: left;
      padding: 0 20px 0 100px; }
      .timeline > li.timeline-inverted > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      .timeline > li.timeline-inverted > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; }
    .timeline > li:last-child {
      margin-bottom: 0; }
  .timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit; }
    .timeline .timeline-heading h4.subheading {
      text-transform: none; }
  .timeline .timeline-body > p,
  .timeline .timeline-body > ul {
    margin-bottom: 0; }

@media (min-width: 768px) {
  .timeline:before {
    left: 50%; }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px; }
    .timeline > li .timeline-panel {
      width: 41%;
      float: left;
      padding: 0 20px 20px 30px;
      text-align: right; }
    .timeline > li .timeline-image {
      width: 100px;
      height: 100px;
      left: 50%;
      margin-left: -50px; }
      .timeline > li .timeline-image h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      text-align: left;
      padding: 0 30px 20px 20px; } }

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px; }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px; }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px; }
      .timeline > li .timeline-image h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px; } }

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px; }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px; }
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px; }
      .timeline > li .timeline-image h4 {
        margin-top: 40px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px; } }