/*.dish-wrap {
	position: relative;
}

.dish-wrap a {
	color: rgb(0,0,0);
}

.dish-wrap .dish-desc {
	position: absolute;
    bottom: 40%;
    left: 15%;
    background: rgba(240,240,240,.5);
    width: 70%;
    display: none;      
}

.dish-wrap .dish-desc {
       
}

.dish-wrap:hover .dish-desc{
	display: inline-block;
}

.dish-wrap .dish-desc h2 {
	text-align: center;
}


@media (min-width: 768px ) and (max-width: 1250px) {
  .dish-wrap .dish-desc {
    bottom: 40%;
    left: 3%;
    width: 94%;
    font-size: .90em;
}

}

.dish-wrap img {
	width: 100%;
	height: 100%;

}

.row.no-gutters [class*=col-] {
	padding-left: 0;
	padding-right: 0;
}




*/





#dishes {
	height: 100%;
}

.cover {
	background: url('img/1.jpg');
	background-size:cover;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
   webkit-background-size: 100% 100%;           
        -moz-background-size: 100% 100%;          
          -o-background-size: 100% 100%;         
             background-size: 100% 100%;  
         	
}

.content-box {
	width: 100%;
	height: 100%;
	display: table;
}

.content-box-inner {
    display: table-cell;
    vertical-align: middle;
    /* text-align: center; */
    /*background: rgba(230,230,230);*/
    height: 400px;
    transition: all 1.5s ease;

}

.heading h3 {
    color: rgba(0,0,0,0);
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0 20px 0;
    text-align: center;
    transition: all 2s ease;
}

.dish-desc p {
	text-align: center;
    color: rgba(0,0,0,0);
    transition: all 2s ease;
}

.row.no-gutters [class*=col-] {
    padding-left: 0;
    padding-right: 0;
}











/*SECTION TEST*/

.dish-col {
    position: relative;
}

.test .dish-col img {
   transition: all 1.5s ease;
}


.test-desc {
   position: absolute;
    bottom: 0%;
    left: 0%;
    height: 100%;
    padding: 40% 10% 0 10%;
    font-family: 'Allan', cursive;
}

.test-desc h2 {
    text-align: center;
}

.test-desc h2, .test-desc p {
    color: rgba(0,0,0,0);
    transition: all 2s ease;
    font-weight: 700;
}

.test .dish-col:hover img {
    -webkit-filter: opacity(.5);
  filter: opacity(.5);
}


.test img {
    width: 100%;
    height: 100%;
}




/*MY TIMELINE*/
/*#timeline {
  
  position: relative;
}

.timeline-line {
  position: absolute;
  left: 50%;
  top: 5%;
  border-left: 2px solid black;
  height: 100%;
}

.timeline-content-holder {
  margin-bottom: 20px;
}

.timeline-content {
  margin: 6px 10px;
  background: white;
   padding: 20px;
}

.timeline-content p {
 
}

.job-img {
  width: 23%;
  height: 140px;
}

.job-img img {
  width: 100%;
  height: inherit;
  border-radius: 50%;
}*/





/*TEMPLATE TIMELINE*/
.timeline {
  list-style: none;
  padding: 0;
  position: relative; }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: 40px;
    margin-left: -1.5px; }
  .timeline > li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px; }
    .timeline > li:before, .timeline > li:after {
      content: " ";
      display: table; }
    .timeline > li:after {
      clear: both; }
    .timeline > li .timeline-panel {
      width: 100%;
      float: right;
      padding: 0 20px 0 100px;
      position: relative;
      text-align: left; }
      .timeline > li .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      .timeline > li .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; }
    .timeline > li .timeline-image {
      left: 0;
      margin-left: 0;
      width: 80px;
      height: 80px;
      position: absolute;
      z-index: 100;
      background-color: #fed136;
      color: white;
      border-radius: 100%;
      border: 7px solid #f1f1f1;
      text-align: center; }

      .timeline-image img {
        border-radius: 100%;
            width: 100%;
            height: inherit;
      }
      .timeline > li .timeline-image h4 {
        font-size: 10px;
        margin-top: 12px;
        line-height: 14px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      text-align: left;
      padding: 0 20px 0 100px; }
      .timeline > li.timeline-inverted > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      .timeline > li.timeline-inverted > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; }
    .timeline > li:last-child {
      margin-bottom: 0; }
  .timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit; }
    .timeline .timeline-heading h4.subheading {
      text-transform: none; }
  .timeline .timeline-body > p,
  .timeline .timeline-body > ul {
    margin-bottom: 0; }

@media (min-width: 768px) {
  .timeline:before {
    left: 50%; }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px; }
    .timeline > li .timeline-panel {
      width: 41%;
      float: left;
      padding: 0 20px 20px 30px;
      text-align: right; }
    .timeline > li .timeline-image {
      width: 100px;
      height: 100px;
      left: 50%;
      margin-left: -50px; }
      .timeline > li .timeline-image h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      text-align: left;
      padding: 0 30px 20px 20px; } }

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px; }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px; }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px; }
      .timeline > li .timeline-image h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px; } }

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px; }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px; }
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px; }
      .timeline > li .timeline-image h4 {
        margin-top: 40px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px; } }